:root {
  --background-color: #1F4E79;  
  --header-footer-color: #B8B68D;
  --text-color: black; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  margin: 50px 30px;
}

header {
  background-color: var(--header-footer-color);
  color: var(--head-foot-text-color);
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999; */
}

nav {
  display: flex;
}

.my-name,
.nav-element,
.footer-element {
  margin: 5px 20px;
  font-weight: bold;
}

.content-section {
  width: 100%;
  height: 450px;
  padding: 10px;
}

/* About Me Section Start */

.about-section {
  background-image: url("./assets/about/J-tree_Pano.JPG");
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.about-text-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.about-text {
  width: 45%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap;
}

.my-photo-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  align-self: flex-end;
}

.my-photo {
  width: 225px;
  border-style: solid;
  border-width: 3px;
  border-radius: 50px;
  border-color: var(--background-color);
}

/* About Me Section End */

footer {
  background-color: var(--header-footer-color);
  color: var(--head-foot-text-color);
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

/* MEDIA QUERY FOR SCREENS SMALLER THAN 720 */
@media screen and (max-width: 720px) {
  body {
    margin: 20px; 
  }

  header {
    display: block;
    font-size: small;
  }

  nav {
    justify-content: center;
  }
  
  .my-name {
    padding-top: 10px;
    text-align: center;
  }

  .nav-element,
  .footer-element {
    margin: 5px 15px;
    font-weight: bold;
  }

  footer {
    font-size: small;
  }

  .footer-wrapper {
    width: 70%;
  }
  
}

/* MEDIA QUERY FOR SCREENS SMALLER THAN 420 */
@media screen and (max-width: 420px) {
  body {
    margin: 20px; 
  }

  header {
    display: block;
    font-size: small;
  }
  
  .my-name {
    padding-top: 10px;
    text-align: center;
  }

  nav {
    align-items: center;
    justify-content: center;
  }

  .nav-element,
  .footer-element {
    margin: 5px 10px;
    font-weight: bold;
    text-align: center;
  }

  footer {
    font-size: small;
  }

  .footer-wrapper {
    width: 85%;
  }

}

/* MEDIA QUERY FOR SCREENS SMALLER THAN 300 */
@media screen and (max-width: 300px) {
  body {
    margin: 20px; 
  }

  header {
    display: block;
    font-size: x-small;
  }
  
  .my-name {
    padding-top: 10px;
    text-align: center;
  }

  nav {
    align-items: center;
    justify-content: center;
  }

  .nav-element,
  .footer-element {
    margin: 5px 10px;
    font-weight: bold;
    text-align: center;
  }

  footer {
    font-size: x-small;
  }
}