:root {
  --background-color: #0B5394; /* deep cerulean */ 
  --header-footer-color: #B8B68D;
  --text-color: black; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  margin: 100px 20px;
}

header {
  background-color: var(--header-footer-color);
  color: var(--head-foot-text-color);
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999; */
}

nav {
  display: flex;
}

.my-name,
.nav-element,
.footer-element {
  margin: 5px 20px;
  font-weight: bold;
}

.project {
  background-color: white;
}

footer {
  background-color: var(--header-footer-color);
  color: var(--head-foot-text-color);
  display: flex;
  justify-content: space-between;
}

/* MEDIA QUERY FOR SCREENS SMALLER THAN 720 */
@media screen and (max-width: 720px) {
  body {
    margin: 20px; 
  }

  header {
    display: block;
    font-size: small;
  }

  nav {
    justify-content: center;
  }
  
  .my-name {
    padding-top: 10px;
    text-align: center;
  }

  .nav-element,
  .footer-element {
    margin: 5px 15px;
    font-weight: bold;
  }

  footer {
    font-size: small;
  }
}

/* MEDIA QUERY FOR IPHONE5 SCREENS AND SMALLER */
@media screen and (max-width: 420px) {
  body {
    margin: 20px; 
  }

  header {
    display: block;
    font-size: small;
  }
  
  .my-name {
    padding-top: 10px;
    text-align: center;
  }

  nav {
    align-items: center;
    justify-content: center;
  }

  .nav-element,
  .footer-element {
    margin: 5px 10px;
    font-weight: bold;
    text-align: center;
  }

  footer {
    font-size: small;
  }
}

/* MEDIA QUERY FOR IPHONE5 SCREENS AND SMALLER */
@media screen and (max-width: 300px) {
  body {
    margin: 20px; 
  }

  header {
    display: block;
    font-size: x-small;
  }
  
  .my-name {
    padding-top: 10px;
    text-align: center;
  }

  nav {
    align-items: center;
    justify-content: center;
  }

  .nav-element,
  .footer-element {
    margin: 5px 10px;
    font-weight: bold;
    text-align: center;
  }

  footer {
    font-size: x-small;
  }
}