:root {
  --background-color: #1F4E79;  
  --header-footer-color: #B8B68D;
  --text-color: black; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  margin: 5vh 2vw;
}

/* header + navigation and footer section start */

header {
  background-color: var(--header-footer-color);
  color: var(--head-foot-text-color);
  display: flex;
  justify-content: space-between;
}

.my-name,
.nav-li-styling,
.footer-element {
  font-size: 150%;
}

nav {
  display: flex;
}

.nav-wrapper {
  display: flex;
}

.nav-li-styling {
  list-style-type: none;
  opacity: 0.5;
}

.nav-li-styling:hover {
  cursor: pointer;
  opacity: 1;
}

.nav-active {
  color: var(--background-color);
  opacity: 1;
}

.my-name,
.nav-li-styling,
.footer-element {
  margin: .5em 2.5em;
  font-weight: bold;
}

footer {
  background-color: var(--header-footer-color);
  color: var(--head-foot-text-color);
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

/* header + navigation and footer section end */

/* common section styling start */

.content-section {
  width: 100%;
  /* height: 450px; */
  height: 80vh;
}

/* common section styling start */

/* About Me Section Start */

.about-section {
  background-image: url("./assets/about/J-tree_Pano.JPG");
  /* background-size: cover; */
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: flex-end; */
  padding: 10px;
  background-size: auto 100%;
  background-position: 40% 50%;
  background-repeat: no-repeat;
  /* display: flex;
  justify-content: center; */
}

.about-text-wrapper {
  display: flex;
  display: block;
  /* display: inline-block; */
  /* justify-content: flex-end; */
  /* width: 50%; */
  justify-content: center;
  height: 25vh;
  line-height: 25vh;
}

.about-text {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  border-radius: 15px;
  white-space: pre-wrap;
  font-family: 'Quattrocento Sans', sans-serif;
  /* font-size: 18px; */
  font-weight: 600;
  /* justify-content: center; */
  text-align: center;
  line-height: 1.5;
  vertical-align: middle;
  font-size: 150%;
}

.my-photo-wrapper {
  display: flex;
  justify-content: flex-start;
  /* width: 50%; */
  /* align-self: flex-end; */
  /* height: 310px; */
  align-items: flex-end;
  height: 52vh;
}

.my-photo {
  margin-left: 15px;
  width: 225px;
  border-style: solid;
  border-width: 3px;
  border-radius: 50px;
  border-color: var(--background-color);
}

/* About Me Section End */

/* Project Section Start */

.project-section {
  padding: 3vh 3vw;
}

.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-column-gap: 1vw;
  grid-row-gap: 2vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.project-item-wrapper {
  background-size: cover;
  position: relative;
  border: 3px solid var(--emphasis-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  opacity: 1;
}

.project-content {
  display: block;
  background-color: rgba(192,192,192, 1);
  border-radius: 4px;
  padding: 0.25em 0.5em;
  align-items: center;
  text-align: center;
  width: 85%;
}

.project-title {
  font-size: 1.5em;
  font-weight: bold;
  /* text-align: center; */
  text-decoration: none;
  padding: 0.5em 0em;
  color: var(--background-color);
}

.project-title:hover {
  color: black;
}

.project-description {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: var(--background-color);
}

.github-link {
  font-size: 2em;
  text-decoration: none;
  color: var(--background-color);
}

.github-link:hover {
  color: black;
}

.project-1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background-image: url("./assets/projects/Fitness_Pal_Snip.png");
}

.project-2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background-image: url("./assets/projects/Tech_Blog_Snip.png");
}

.project-3 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  background-image: url("./assets/projects/Photo_Port_Snip.png");
}

.project-4 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  background-image: url("./assets/projects/City_Explorer_Snip.png");
}

.project-5 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  background-image: url("./assets/projects/Budget_Tracker_Snip.png");
}

.project-6 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  background-image: url("./assets/projects/Food_Festival_Snip.png");
}

/* Project Section End */

/* Contact Me Section Start */

.contact-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(135,206,235,1);
  /* align-items: center; */
}

.contact-section-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-column-gap: 1vw;
  grid-row-gap: 2vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.contact-form-wrapper {
  width: 100%;
  /* display: block; */
  /* align-items: center; */
  /* justify-content: center; */
  padding: 2vh 1vw;
}

.under-construction {
  /* align-items: center;
  justify-content: center; */
  text-align: center;
  padding: 2vh;
  font-weight: bold;
  font-size: 2em;;
}

#contact-form {
  /* width: 100%; */
  /* background-color: rgba(192,192,192); */
  padding: 20px;
  /* justify-content: center; */
  /* font-size: 2em; */
}

.form-section {
  padding: 5px;
}

label, input, textarea, button, .error-text {
  font-size: 2em;
  padding: 0.25em;
}

input, textarea, button {
  border-radius: 5px;
}

textarea {
  width: 75%;
}

button {
  margin-left: .25em;
}

.contact-img-wrapper {
  background-image: url("./assets/contact/Apache_Plume.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 1vw;
  /* width: 100%; */
  /* display: flex; */
  /* overflow: hidden; */
}

/* .contact-image {
  background-image: url("./assets/contact/Apache_Plume.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
} */

/* Contact Me Section End */

/* MEDIA QUERY FOR SCREENS SMALLER THAN 1440 */
@media screen and (max-width: 1440px) {
  .my-name,
  .nav-li-styling,
  .about-text,
  .footer-element {
    font-size: 115%;
  }

  .under-construction {
    font-size: 1.5em;;
  }

  label, input, textarea, button, .error-text {
    font-size: 1.5em;
  }
  
}

/* MEDIA QUERY FOR SCREENS SMALLER THAN 1280 */
@media screen and (max-width: 1280px) {
  .my-name,
  .nav-li-styling,
  .about-text,
  .footer-element {
    font-size: 100%;
  }

  .under-construction {
    font-size: 1.25em;;
  }

  label, input, textarea, button, .error-text {
    font-size: 1.25em;
  }
  
}

/* MEDIA QUERY FOR SCREENS SMALLER THAN 1024 */
@media screen and (max-width: 1024px) {
  .my-name,
  .nav-li-styling,
  .about-text,
  .footer-element {
    font-size: 100%;
  }

  .nav-li-styling,
  .footer-element {
    margin: .5em 1.5em;
  }

  .about-text {
    width: 100%;
  }

  .my-photo {
    margin-left: 0;
    margin-bottom: 0;
  }

  .contact-section-container {
    /* width: 100%;
    height: 100%;
    display: grid;
    grid-row-gap: 1vh; */
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }  

  .grid-container {
    grid-gap: 1vh 1.5vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }  

  .project-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  
  .project-2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  
  .project-3 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  
  .project-4 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  
  .project-5 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  
  .project-6 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }
  
}

/* MEDIA QUERY FOR SCREENS SMALLER THAN 720 */
@media screen and (max-width: 720px) {
  body {
    margin: 3vh 2vw;
  }

  header {
    display: block;
    font-size: small;
  }

  nav {
    justify-content: center;
  }
  
  .my-name {
    padding-top: 10px;
    text-align: center;
    font-size: 100%;
  }

  .nav-li-styling,
  .footer-element {
    font-size: 90%;
  }

  .about-text {
    font-size: 80%;
    width: 100%;
    white-space: normal;
  }

  .my-photo {
    width: 175px;
    margin-left: 0;
    margin-bottom: -0.6em;
  }

  .under-construction {
    font-size: 0.75em;;
  }

  label, input, textarea, button, .error-text {
    font-size: 0.75em;
  }

  .grid-container {
    grid-gap: 1vh 1.5vw;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }  

  .project-item-wrapper {
    height: 20vh;
  }

  .project-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  
  .project-2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  
  .project-3 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  
  .project-4 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  
  .project-5 {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
  }
  
  .project-6 {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
  }

  .project-content {
    display: flex;
    opacity: 0.85;
    padding: 0.1em 0.25em;
  }

  .project-title {
    font-size: 1em;
    padding: 0;
  }

  .project-description {
    font-size: 0.75em;
    padding: 0;
  }

  
  footer {
    font-size: small;
    position: sticky;
  }

  .footer-wrapper {
    width: 70%;
  }
  
}

/* MEDIA QUERY FOR SCREENS SMALLER THAN 420 */
@media screen and (max-width: 420px) {
  body {
    margin: 3vh 2vw;
  }

  header {
    display: block;
    font-size: small;
  }
  
  .my-name {
    padding-top: 10px;
    text-align: center;
  }

  nav {
    align-items: center;
    justify-content: center;
  }

  .nav-element,
  .footer-element {
    margin: 5px 10px;
    font-weight: bold;
    text-align: center;
  }

  .my-photo {
    width: 175px;
    margin-left: 0;
    margin-bottom: 0em;
  }

  footer {
    font-size: small;
  }

  .footer-wrapper {
    width: 85%;
  }

}

/* MEDIA QUERY FOR SCREENS SMALLER THAN 360 */
@media screen and (max-width: 360px) {
  body {
    margin: 3vh 2vw;
  }

  header {
    display: block;
    font-size: x-small;
  }
  
  .my-name {
    padding-top: 10px;
    text-align: center;
  }

  nav {
    align-items: center;
    justify-content: center;
  }

  .about-text {
    font-size: 60%;
    width: 100%;
    white-space: normal;
  }

  .my-photo {
    width: 150px;
    margin-left: -0.25em;
    margin-bottom: 0em;
  }

  .nav-element,
  .footer-element {
    margin: 5px 10px;
    font-weight: bold;
    text-align: center;
  }

  /* #contact-form {
    padding: 10px;
  } */
  
  .form-section {
    padding: 5px;
  }
  
  label, input, textarea, button, .error-text {
    font-size: 0.75em;
    padding: 0.25em;
  }
  
  footer {
    font-size: x-small;
  }
}